table{
    border-collapse: collapse;
    margin-top: 0.5em;
}
table td{
    border: 3px solid;
    font-size: x-large;
    padding: 2px 8px;
    text-align: center;
}
button{
  height: 2em;
  border-radius: 6px;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  cursor: pointer;
}
.title{
  text-align:center
}
.right{
  text-align:right;
}
a{
  font-size: 18px;
}
