<div class="flex">
  <h1>{{title}}</h1>
  <div>
    <button (click)="goBack()">Назад</button>
  </div>
</div>
<div class="flex">
    <ul class="pets">
        <li *ngFor="let pet of pets"
            [class.selected]="pet === selectedPet"
            (click)="gotoDetailPet(pet)">
            {{pet.name}}
        </li>
    </ul>
    <search></search>
    <a class="link" routerLink="/pet/add-new" routerLinkActive="active">Добавить нового пациента</a>
    <a class="link" routerLink="/client/add-new" routerLinkActive="active">Добавить нового пользователя</a>
</div>

