<div>
  <div class="center">
    <div class="right">
      <button (click)="edit()">Редактировать</button>
      <button (click)="goBack()">Назад</button>
    </div>
    <table class="table">
      <thead>
      <tr>
        <td>Дата посещения</td>
        <td>Имя Питомца</td>
        <td>Вид</td>
        <td>Владелец</td>
        <td>Итог посещения</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><input value="{{date}}" [(ngModel)]="date" placeholder="yyyy-MM-dd"></td>
        <td>
          <select [(ngModel)]="consultation.petId">
            <option *ngFor="let pet of pets"
                    value="{{pet.id}}"
                    text="{{pet.name}}">
            </option>
          </select>
        </td>
        <td><input value="{{consultation.petKind}}" [(ngModel)]="consultation.petKind"></td>
        <td>
          <select [(ngModel)]="consultation.clientId">
            <option *ngFor="let owner of owners"
                    value="{{owner.id}}"
                    text="{{owner.name}}">
            </option>
          </select>
        </td>
        <td><textarea value="{{consultation.text}}" [(ngModel)]="consultation.text"></textarea></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
